@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat</title>
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <!--https://github.com/psauthor/BuildingASPNETCore2/tree/master/Resources-->

    <script src="js/index.js"></script>
</body>
</html>
