
@{
    ViewBag.Title = "Home Page";
}
<!--https://github.com/psauthor/BuildingASPNETCore2/tree/master/Resources-->
<div class="row">
    <div class="col-md-6">
        <div class="product-info">
            <img src="img/VanGogh.jpg" />
            <h3>Mug</h3>
            <ul class="product-props ">
                <li>Price $9.99</li>
                <li>Artist: Van Gogh</li>
                <li>Title: Grey Felt Hat </li>
                <li>Description: Self Portrit </li>
            </ul>
            <button id="buyButton" class="btn btn-success">Buy</button>
        </div>
        <div>
            <div id="loginToggle">Login</div>
            <form class="popup-form">
                <div>
                    <label>Username:</label>
                    <input />
                </div>
                @*<input type="text" name="UserName" size="15" maxlength="30" />*@
                <div>
                    <label>  Password:</label>
                    <input type="password" name="Password" size="15" maxlength="30" />
                </div>
                <div>
                    <input type="checkbox" />
                    <label>
                        Remember Me?
                    </label>
                </div>
                <div>
                    <input type="submit" value="Login" />
                </div>
                @*<input type="checkbox" name="Remember" value="yes" />
                    <button>Login</button>*@
            </form>
        </div>
    </div>
