
@{
    ViewBag.Title = "Home Page";
}
<!--https://github.com/psauthor/BuildingASPNETCore2/tree/master/Resources-->
<div class="product-info">
    <img src="img/VanGogh.jpg" />
    <h3>Mug</h3>
    <ul class="product-props ">
        <li>Price $9.99</li>
        <li>Artist: Van Gogh</li>
        <li>Title: Grey Felt Hat </li>
        <li>Description: Self Portrit </li>
    </ul>
    <button id="buyButton">Buy</button>
</div>
<div id="theForm">
    <form action="get">
        <label>Your Name:</label>
        <input type="text" name="Name" />
        <br />
        <label>Email:</label>
        <input type="email" name="Email" />
        <br />
        <label> Subject:</label>
        <input type="text" name="Subject" />
        <label> Message:</label>
        <textarea rows="4"></textarea>
        <input type="submit" value="Send Message" />
        <h5>
            Login

        </h5>
        <label>  Username:</label>
        <input type="text" name="UserName" size="15" maxlength="30" />
        <br />
        <label>  Password:</label>
        <input type="password" name="Password" size="15" maxlength="30" />
        <label>
            Remember Me?
        </label>
        <input type="checkbox" name="Remember" value="yes" />
        <button>Login</button>
    </form>
</div>
