<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title </title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!--https://github.com/psauthor/BuildingASPNETCore2/tree/master/Resources-->
</head>
<body>
    <header class="container">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md">
            <h1 class="navbar-brand"><i class="fa fa-paint-brush"></i> Welcome to Dutch Treat </h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a class="nav-link" asp-controller="App" asp-action="Index">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" asp-controller="App" asp-action="Contact">Contact</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" asp-controller="App" asp-action="About">About</a>
                    </li>
                    @*  This is how the links look before we add in a asp-controller to link to our tag helper page which is a partial called  _ViewStart.cshtml
                        <li><a href="/">Home</a></li>
                        <li><a href="/app/contact">Contact</a> Contact</li>
                        <li><a href="/app/about">About</a>About</li>*@
                </ul>
            </div>
        </nav>
    </header>
    <section class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">Copyright 2017 Dutch Treat LLC </div>
    </footer>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.0.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>-->
    <script src="~/js/index.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
